{% if not pagetitle and menu is iterable %}
    {% set pagetitle = "" %}
    {% for filename, item in menu %}
        {% if filename|replace({'.md': '.html'}) == currentFile|replace({'.md': '.html'}) %}
            {% set pagetitle = item.label|striptags %}
        {% endif %}
    {% endfor %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% if pagetitle %}{{ pagetitle }} &raquo; {% endif %}{{ title }}</title>

        <link rel="stylesheet" href="{{ baseUrl }}/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:300,400,600,700" rel="stylesheet">
        <script defer src="https://use.fontawesome.com/releases/v5.0.3/js/all.js"></script>
    </head>
    <body>

        <div class="docs columns is-gapless is-desktop">
            <aside class="docs__sidebar">
                <div class="docs__sidebar--brand">
                    <div class="brand">
                        <a class="brand--text" href="{{ baseUrl }}/">
                            {{ title|default('The title') }}
                        </a>
                    </div>
                    <button class="button button-bars is-primary is-hidden-desktop">
                        <span class="icon">
                        <i class="fa fa-bars"></i>
                        </span>
                    </button>
                    <button class="button button-search is-primary is-hidden-desktop">
                        <span class="icon">
                        <i class="fa fa-search"></i>
                        </span>
                    </button>
                </div>

                {% if menu is iterable %}
                {# Tipue Search form #}
                <div class="docs__sidebar--search">
                    <form action="{{ baseUrl }}/search.html" class="control has-icons-right">
                        <input class="input" type="text" name="q" id="tipue_search_input" pattern=".{3,}" title="At least 3 characters" placeholder="Search…" required>
                        <span class="icon is-small is-right">
                            <i class="icon-search"></i>
                        </span>
                    </form>
                </div>
                {% endif %}

                {% if menu is iterable %}
                <div class="docs__sidebar--menu">
                    <nav id="sidebar" class="menu" role="navigation">
                        {% for section in menu %}
                        <p class="menu-label">
                                {{ section.label }}
                        </p>
                        <ul class="menu-list">
                            {% for item in section.items %}
                                {% set filename = item.file|replace({'.md': '.html'}) %}
                                {% set currentFileMd = currentFile|replace({'.md': '.html'}) %}
                                <li class="{{ item.class|default() }}">
                                    <a href="{{ item.absoluteUrl|default(baseUrl ~ '/' ~ filename) }}" class="{{ filename == currentFileMd ? 'is-active' }}">
                                        {{ item.file|replace({'.md': ''})|capitalize }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                        {% endfor %}
                    </nav>
                </div>
                {% endif %}

                <div class="docs__sidebar--footer is-hidden-touch">
                    <p class="text-muted">
                        Generated with ease by: <br>
                        <a href="http://couscous.io" title="Markdown website generator">Couscous</a> |
                        <a href="https://github.com/bolt/Extension-docs-template" title="Bolt extension documentation template">Bolt template</a>.
                    </p>
                </div>
            </aside>
            <main class="docs__main">
                <header class="docs__main--header">
                    <div class="pagetitle">
                        {{ pagetitle|default(subTitle)|default('This is the default subtitle!') }}
                    </div>

                    {% if github is defined %}
                        <a href="https://github.com/{{ github.user }}/{{ github.repo }}" class="button is-info is-hidden-touch" aria-label="This extension on GitHub">
                            <span class="icon is-small">
                                <i class="fas fa-home"></i>
                            </span>
                            <span>GitHub</span>
                        </a>
                        <a href="https://github.com/{{ github.user }}/{{ github.repo }}/fork" class="button is-info is-hidden-touch" aria-label="Fork {{ github.user }}/{{ github.repo }} on GitHub">
                            <span class="icon is-small">
                                <i class="fas fa-code-branch"></i>
                            </span>
                            <span>Fork</span>
                        </a>
                        {% if github.editlink is defined %}
                        <a href="{{ github.editlink }}{{ currentFile }}" class="button is-info is-hidden-touch" aria-label="Edit the contents of this page on GitHub">
                            <span class="icon is-small">
                                <i class="fab fa-github"></i>
                            </span>
                            <span>Edit this page</span>
                        </a>
                        {% endif %}
                    {% endif %}
                </header>

                <div class="docs__main--body">
                    <section id="content" class="content">
                        {{ content|raw }}
                    </section>
                </div>
            </main>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script>
        var tipuesearch_pages = [
        {%- if menu is iterable -%}
            {%- for filename, item in menu -%}
                "{{ baseUrl }}/{{ filename|replace({'.md': '.html'}) }}" {%- if not loop.last %}, {% endif %}
            {%- endfor -%}
        {%- endif -%}
        ];
        </script>
        <script src="{{ baseUrl }}/tipuesearch/tipuesearch_set.js"></script>
        <script src="{{ baseUrl }}/tipuesearch/tipuesearch.min.js"></script>
        <script src="{{ baseUrl }}/js/bundle.js"></script>
        <script>
            $(document).ready(function() {
                $('#tipue_search_input').tipuesearch({
                    'mode': 'live',
                    'liveDescription': '#content',
                    'liveContent': '#content'
                });
            });
        </script>

    </body>
</html>
